# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/test-results
/playwright-report
/blob-report
/playwright/.cache

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem
*.log
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# local
tmp/
.omc/
